@font-face {
	font-family: 'honokamin';
	src: url('../font/honokamin.ttf');
}

@keyframes fadein {
from {
    opacity: 0;
    transform: translateY(20px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}


body p{
	font-size: 16px;
}


main{
	width: 1000px;
	margin:0 auto;
	 animation-name: fadein;
    animation-duration: 2s;
    
}

header{
	padding-bottom: 10px;
	font-family: 'futura';
	font-style: italic;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:50px;
	background-color: white;
}

header a {
	font-size: 40px;
	letter-spacing: 6px;
	text-decoration: none;
	color: black;
	position: fixed; 
	z-index: 2;
	top:0;
	left:20px;
	padding-top: 10px;


}

header a::after {
  background-color: gray;
  bottom: 0;
  content: '';
  display: block;
  height: 1.5px;
  left: 0;
  position: absolute;
  transition: .5s all;
  width: 0;
}

header a:hover::after {
  width: 100%;
}

.caption{
	margin-top:140px; 
	font-family: 'honokamin';
}

h3{
	margin: 0;
	font-weight: normal;
	letter-spacing: 8px;
	display: inline-block;
	padding: 6px;
	background-color: black;
	color:white;
	font-family: "futura";
}

.caption p{
	font-size: 14px;
	margin-top: 10px;
	letter-spacing: 5px;

}

p{
	margin: 0px
}

h2{
	letter-spacing: 10px;
	margin: 0px
	font-size: 24px;
}

.date{
	color: gray;
}

.main-img {
	text-align: center;
	margin-top:40px;
}

.slick{
	z-index: -1;
}

.slick img{
	width:1000px;
}

.catchflese p{
	text-align: center;
	font-family: 'honokamin';
	font-size:36px!important;
	/*padding-bottom: 3px;*/
	/*border-bottom: solid black 1px;*/
	
}

.catchflese {
	margin-top: 40px;
display: flex;
align-items: center;
}
.catchflese:before,
.catchflese:after {
border-top: 1px solid;
content: "";
flex-grow: 1;
}
.catchflese:before {
margin-right: 1rem;
}
.catchflese:after {
margin-left: 1rem;
}

/*.block h1{
	margin-bottom:30px;
}*/


.block{
	/*letter-spacing: 8px;*/
	margin-top: 48px;
}

.block p{
	font-family: "游ゴシック";
	letter-spacing: 2px;
}

.block h1{
	font-family: 'futura';
	font-size: 18px;
	font-weight: normal;
	color: #b1b1b1;
	letter-spacing: 5px;
}

#gif{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top:40px; 

}

#gif img{
	width :300px;
}

/*#DESCRIPTION p{
	width:600px;
}
*/
#tlangform-commentary img{
	margin-top: 20px;
}

#tlangform-commentary p{
	margin-top: 20px;
}

#matatabi-source{
	margin-top: 120px;
}

.section{
	margin-bottom:40px;
}

/*.left{
	display: inline-block;
}
.right{
	margin: 0;
	padding:0;
	width:570px;
	display: inline-block;
}*/


./*DESIGNCONSEPT-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}*/


.slick-prev:before, .slick-next:before {
	color: #000;
}


.usedimage{
	text-align: center;
	margin-top:60px; 
}

#oga-serviceconsept h2,#oga-desgighnconsept h2{
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 2px;
}

#oga-serviceconsept img,#oga-desgighnconsept img{
	display: block;
	margin: 0 auto;
}



.right p{
	margin-bottom: 30px;
}

#matatabi-right,#matatabi-left{
	padding-top: 40px;
}

.iphone{
	margin: 40px auto 10px auto;
	width:900px;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
}

.iphone p{
	margin-top:20px;
}

.section-content{
	display: flex;
	/*justify-content: space-between;*/
}

.section h4{
	font-size: 18px;
	font-weight: bold;
	padding: 3px 8px;
	border-left: solid 12px black;
	letter-spacing: 4px;
}

.baby,.papamama,.garally{
	margin-top:70px;
}

.baby-content p{
	margin-bottom:16px; 
}

.baby-content .left{
	padding-right: 30px;
}


.baby-content,.papamama-content,.garally-content{
	display: flex;
}

.illast {

	text-align: center;
	margin:40px auto;
}

.illast p{
	font-family: 'honokamin';
	font-size:20px;
	padding: 20px;
}

#matatabi-serviceconsept p{
	font-weight: bold;
	font-size: 18px;
}


.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  /*width: 70%;*/
  /*max-width: 500px;*/
 /* padding: 10px 30px;*/
 /* background-color: #fff;*/
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}


/* 以下ボタンスタイル */
/*button {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #282828;
  border-radius: 2px;
  cursor: pointer;
}*/



.illast-thum{
	display: flex;
	margin-top: 100px;
	width: 1000px;
	flex-wrap:wrap; 
	justify-content: space-between;
	align-content: space-between;

}

.item-illast {
	width:320px;
	height: 320px;
	margin-bottom: 18px;
}



















